section {
    margin-bottom: 3.375rem;
}

.popular-posts article {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1.6875rem;
    div {
        padding: 1.6875rem 1.6875rem 0 1.6875rem;
    }
}