@use 'colors';

h1 {
    font-size: 2rem;
    // for the baseline grid, add a line-height that is either 27px or a multiplier of 27 and larger than the font size
    line-height: 3.375rem;
    a {
        color: colors.$off-black;
        text-decoration: none;
    }
}

p {
    margin-bottom: 1.6875rem;
}