@use 'colors';

header,
main,
footer {
    padding: 1rem;
}

html {
    font-size: 100%; 
    // browser default size for scalability
}

body {
    // increase the base font size to 18px this will give us a line-height (grid spacing) of 27px
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    color: colors.$off-black;
}